{% extends 'back/base_main.html' %}




 {% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
      <div class="row">
       <h5><li><a href="{{ url_for("back.article_list") }}">返回文章</a></li></h5>
      <form action="" method="post" >
{#        <form action="" method="post" class="add-article-form">#}
        {{ error }}
          <div class="col-md-9">
            <h1 class="page-header">文章标题</h1>
            <div class="form-group">
              <input type="text" id="article-title" name="title" class="form-control" >
            </div>

            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>文章描述</span></h2>
              <div class="add-article-box-content">
              	<input type="text" class="form-control"  name="desc">
              </div>
            </div>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>分类</span></h2>
             <div class="add-article-box-content">
                <select class="select" name="category">
                    {% for type in types %}
                    <option value="{{ type.id }}">{{ type.t_name }}</option>
                    {% endfor %}
                </select>
             </div>
                <div class="add-article-box">
              <h2 class="add-article-box-title"><span>文章详情</span></h2>
              <div class="add-article-box-content">
              <input type="text" class="form-control"  name="content">
              </div>
            </div>
          </div>
{#              <div class="add-article-box-footer">#}
                <button class="btn btn-primary" type="submit">提交</button>
              </div>

{#          </div>#}
        </form>
      </div>
    </div>
{% endblock %}
{% block js2 %}
<script src="/static/back/js/bootstrap.min.js"></script>
<script src="/static/back/js/admin-scripts.js"></script>
<script src="/static/back/lib/ueditor/ueditor.config.js"></script>
<script src="/static/back/lib/ueditor/ueditor.all.min.js"> </script>
<script src="/static/back/lib/ueditor/lang/zh-cn/zh-cn.js"></script>
{#    <script type="text/javascript">#}
{#    KindEditor.ready(function(k)  {#}
{#        window.editor=K.create("#editor_id");#}
{#    });#}
{#    </script>#}
{% endblock %}

<script >
{#<script type="text/javascript">#}
var editor = UE.getEditor('article-content');
window.onresize=function(){
    window.location.reload();
}
var _uploadEditor;
$(function () {
    //重新实例化一个编辑器，防止在上面的editor编辑器中显示上传的图片或者文件
    _uploadEditor = UE.getEditor('uploadEditor');
    _uploadEditor.ready(function () {
        //设置编辑器不可用
        //_uploadEditor.setDisabled();
        //隐藏编辑器，因为不会用到这个编辑器实例，所以要隐藏
        _uploadEditor.hide();
        //侦听图片上传
        _uploadEditor.addListener('beforeInsertImage', function (t, arg) {
            //将地址赋值给相应的input,只去第一张图片的路径
            $("#pictureUpload").attr("value", arg[0].src);
            //图片预览
            //$("#imgPreview").attr("src", arg[0].src);
        })
        //侦听文件上传，取上传文件列表中第一个上传的文件的路径
        _uploadEditor.addListener('afterUpfile', function (t, arg) {
            $("#fileUpload").attr("value", _uploadEditor.options.filePath + arg[0].url);
        })
    });
});
//弹出图片上传的对话框
$('#upImage').click(function () {
    var myImage = _uploadEditor.getDialog("insertimage");
    myImage.open();
});
//弹出文件上传的对话框
function upFiles() {
    var myFiles = _uploadEditor.getDialog("attachment");
    myFiles.open();
}
</script>
